# Environment variables with sensitive data
.env
.DS_Store

# Docker volumes data
*/data/
*/appdata/
*/db/
dockhand/data/
pihole/etc-pihole/
pihole/etc-dnsmasq.d/
homepage/config/
stirlingtools/configs/
stirlingtools/customFiles/
filebrowser/database/
pinchflat/downloads
pinchflat/config/
immich/
splitcam/
ddclient/
/wgeasy/config/

# Logs
*.log
*/logs/
