version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: pihole
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'Asia/Jerusalem'
      WEBPASSWORD: Skqsz7913!
      SERVERIP: "192.168.1.200"
    volumes:
       - './etc-pihole/:/etc/pihole/'
       - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    dns:
      - 127.17.0.1
      - 8.8.8.8
      - 8.8.4.4
    restart: unless-stopped
